@keyframes scaleUp {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes scaleDown {
  to {
    transform: scale(0);
  }
}
