/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.mx-auto {
  margin-right: auto;
  margin-left: auto;
}

.mr-0 {
  margin-right: 20px;
}

.mb-0 {
  margin-bottom: 20px;
}

.mt-1 {
  margin-top: 30px;
}

.mb-1 {
  margin-bottom: 30px;
}

.mb-2 {
  margin-bottom: 60px;
}

.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.d-none {
  display: none;
}

.justify-content-between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.justify-content-end {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

.container {
  max-width: 940px;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: 1px red solid;
}

body {
  font-family: PingFang TC;
  font-weight: 600;
}

a {
  text-decoration: none;
  color: #3f5d45;
}

img {
  max-width: 100%;
  height: auto;
}

.logo {
  height: 40px;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 40px;
}
.nav ul {
  margin-left: auto;
}

.nav-item {
  padding-right: 60px;
  line-height: 73px;
}

.shopping-cart {
  margin-left: 19px;
}
.shopping-cart img {
  vertical-align: bottom;
}

.banner {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center center;
     object-position: center center;
}

.list-group {
  width: 300px;
}

.list-group-title {
  border: 1px solid #eaf0ed;
  height: 65px;
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: center;
  font-size: 1.5rem;
  line-height: 40px;
  color: white;
  background-color: #3f5d45;
}

.list-group-item {
  border: 1px solid #eaf0ed;
  height: 65px;
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: center;
  font-size: 1.5rem;
  line-height: 40px;
  cursor: pointer;
}
.list-group-item.active {
  background-color: #eaf0ed;
}
.list-group-item a {
  pointer-events: none;
}

.card-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 620px;
}

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

.card-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 56px;
  text-align: center;
  color: #3f5d45;
  font-size: 1.25rem;
}

.card-title {
  width: 173px;
  padding-top: 14px;
  padding-bottom: 14px;
  border: 1px solid #eaf0ed;
  font-weight: 300;
}

.card-text {
  width: 127px;
  padding-top: 14px;
  padding-bottom: 14px;
  border: 1px solid #eaf0ed;
}

.card-button {
  width: 100%;
  height: 65px;
  padding-top: 16px;
  padding-bottom: 16px;
  border: 1px solid #eaf0ed;
  text-align: center;
  font-size: 1.5rem;
  background-color: #eaf0ed;
  cursor: pointer;
}

.badges {
  position: absolute;
  top: 0;
  left: 20px;
  width: 36px;
  height: 107px;
  -webkit-writing-mode: vertical-lr;
  -ms-writing-mode: tb-lr;
      writing-mode: vertical-lr;
  color: white;
  text-align: center;
  letter-spacing: 5px;
  background-color: #3f5d45;
  padding-left: 10px;
  padding-right: 10px;
}

.favorite {
  position: absolute;
  top: 19px;
  right: 22px;
}

.page-item {
  width: 60px;
  height: 60px;
  border: 1px solid #eaf0ed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.25rem;
}
.page-item.active {
  background-color: #3f5d45;
}
.page-item.active a {
  color: white;
}

@media screen and (max-width: 992px) {
  .container {
    max-width: 375px;
  }

  .menu {
    display: inline-block;
    cursor: pointer;
    width: 18px;
    height: 12px;
  }

  .logo {
    display: none;
  }

  .logo-mb {
    display: inline-block;
    width: 114px;
    height: 18px;
  }

  header.mb-2 {
    margin-bottom: 0;
  }

  .nav {
    margin-left: 30px;
    margin-right: 30px;
  }
  .nav ul {
    display: none;
  }

  .nav-bar {
    text-align: center;
  }
  .nav-bar.active {
    display: block;
  }
  .nav-bar li {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  .nav-bar li:hover {
    background-color: #eaf0ed;
  }
  .nav-bar a {
    pointer-events: none;
  }

  main.d-flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  nav.mr-0 {
    margin-right: 0;
    margin-bottom: 30px;
  }

  .list-group-title {
    width: 375px;
  }

  .list-group-item {
    width: 375px;
  }

  .card-group {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 375px;
    margin-bottom: 0;
  }

  .card {
    width: 315px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
  }

  .card-title {
    width: 183px;
  }

  .card-text {
    width: 132px;
  }

  .pagination {
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}